################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AutofacImplementation/.vs/AutofacImplementation/v16
/AutofacImplementation/Core/bin/Debug/netcoreapp3.1
/AutofacImplementation/Core/obj
/AutofacImplementation/Infrastructure/bin/Debug/netcoreapp3.1
/AutofacImplementation/Infrastructure/obj
/AutofacImplementation/WebApp/bin/Debug/netcoreapp3.1
/AutofacImplementation/WebApp/obj
