################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AutofacImplementation/.vs/AutofacImplementation/v16
